
/************************************************************************/
/*     System Icons. All the PNG images*/
/************************************************************************/
#appmenu_addressBook, #button-address
    { list-style-image: url("./images/01-address.png") !important; }
#appmenu_activityManager
    { list-style-image: url("./images/02-appmenu-activity.png") !important; }
#appmenu_addons, #appmenu_Add-Ons, #button-addons
    { list-style-image: url("./images/03-appmenu-addons.png") !important; }
#appmenu_msgAttachmentMenu
    { list-style-image: url("./images/04-appmenu-attachment.png") !important; }
#appmenu-copy, #appmenu-editmenu-copy, #copy-button
    { list-style-image: url("./images/05-appmenu-copy.png") !important; }
#appmenu_customize
    { list-style-image: url("./images/06-appmenu-customize.png") !important; }
#cut-button, #appmenu-cut, #appmenu-editmenu-cut
    { list-style-image: url("./images/07-appmenu-cut.png") !important; }
#appmenu_filters, #appmenu_filtersCmd
    { list-style-image: url("./images/08-appmenu-filter.png") !important; }
#appmenu_help, #appmenu_openHelp
    { list-style-image: url("./images/09-appmenu-help.png") !important; }
#appmenu_new
    { list-style-image: url("./images/10-appmenu-new.png") !important; }
#appmenu_preferences, .tabmail-tab[type="preferencesTab"]
    { list-style-image: url("./images/11-appmenu-options.png") !important; }
#paste-button, #appmenu-paste, #appmenu-editmenu-paste
    { list-style-image: url("./images/12-appmenu-paste.png") !important; }
#appmenu_print_popup, #appmenu_print
    { list-style-image: url("./images/13-appmenu-print.png") !important; }
#appmenu_saveAs
    { list-style-image: url("./images/14-appmenu-save.png") !important; }
#appmenu_find
    { list-style-image: url("./images/15-appmenu-search.png") !important; }
#appmenu_tasksMenu
    { list-style-image: url("./images/16-appmenu-tools.png") !important; }
#button-archive, toolbarpaletteitem .hdrArchiveButton,
.tabmail-tab[type="folder"][SpecialFolder="Archive"][ServerType="imap"] .tab-icon-image,
#folderTree treechildren::-moz-tree-image(folderNameCol, specialFolder-Archive)
    { list-style-image: url("./images/17-archive.png") !important;
    -moz-image-region: rect(0px 256px 256px 0px) !important; }
#lightning-button-calendar
    { list-style-image: url("./images/18-calendar.png") !important; }
#button-chat[unreadMessages="true"]
    { list-style-image: url("./images/19-chat2.png") !important; }
#button-chat
    { list-style-image: url("./images/20-chat.png") !important; }
#button-compact
    { list-style-image: url("./images/21-compact.png") !important; }
#hdrOpenConversationButton, #button-showconversation
    { list-style-image: url("./images/22-conversation.png") !important; }
#folderTree treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts),
.tabmail-tab[type="folder"][SpecialFolder="Drafts"] .tab-icon-image
    { list-style-image: url("./images/23-edit.png") !important;
    -moz-image-region: rect(0px 256px 256px 0px) !important; }
#appmenu_accountmgr, .tabmail-tab[type="folder"][ServerType="imap"]
    { list-style-image: url("./images/24-email.png") !important;
    -moz-image-region: rect(0px 256px 256px 0px) !important; }
#button-file
    { list-style-image: url("./images/25-file.png") !important; }
#qfb-show-filter-bar
    { list-style-image: url("./images/26-quick-filter.png") !important; }
#button-forward, toolbarpaletteitem .hdrForwardButton
    { list-style-image: url("./images/27-forward.png") !important; }
#button-getmsg, .tabmail-tab[type="folder"][SpecialFolder="Inbox"] .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox)
    { list-style-image: url("./images/28-getmsg.png") !important;
    -moz-image-region: rect(0px 256px 256px 0px) !important; }
#button-goback, #button-goforward[chromedir="rtl"]
    { list-style-image: url("./images/29-goback.png") !important; }
#button-goforward, #button-goback[chromedir="rtl"]
    { list-style-image: url("./images/30-goforward.png") !important; }
#folderTree treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk),
.tabmail-tab[type="folder"][SpecialFolder="Junk"] .tab-icon-image
    { list-style-image: url("./images/31-junk.png") !important;
    -moz-image-region: rect(0px 256px 256px 0px) !important; }
#button-mark
    { list-style-image: url("./images/32-mark.png") !important; }
/*#MarkThreadReadButton    Add-on, don't change icon.
    { list-style-image: url("./images/33-markthreadread.png") !important;
    -moz-image-region: rect(0px 256px 256px 0px) !important; } */
.button-appmenu
    { list-style-image: url("./images/34-menu.png") !important; }
#button-newmsg
    { list-style-image: url("./images/35-newmsg.png") !important; }
.tabmail-tab[type="folder"][ServerType="nntp"]
    { list-style-image: url("./images/36-news.png") !important;
    -moz-image-region: rect(0px 256px 256px 0px) !important; }
#button-nextMsg, #button-previousMsg[chromedir="rtl"]
    { list-style-image: url("./images/37-nextmsg.png") !important; }
/*#NextThreadUnreadButton,    Add-on, don't change icon */
#button-nextUnread, #button-previousUnread[chromedir="rtl"]
    { list-style-image: url("./images/38-next-unread.png") !important;
    -moz-image-region: rect(0px 256px 256px 0px) !important; }
#folderTree treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox),
.tabmail-tab[type="folder"][SpecialFolder="Outbox"] .tab-icon-image
    { list-style-image: url("./images/39-outbox.png") !important;
    -moz-image-region: rect(0px 256px 256px 0px) !important; }
#button-previousMsg, #button-nextMsg[chromedir="rtl"]
    { list-style-image: url("./images/40-previousmsg.png") !important; }
#button-previousUnread, #button-nextUnread[chromedir="rtl"]
    { list-style-image: url("./images/41-previous-unread.png") !important; }
#button-print, #calendar-print-button, #task-print-button
    { list-style-image: url("./images/42-printer.png") !important; }
toolbarpaletteitem .hdrDummyReplyButton,
toolbarpaletteitem .hdrReplyOnlyButton,
toolbarpaletteitem .hdrReplyToSenderButton,
toolbarpaletteitem .hdrReplyAllButton,
toolbarpaletteitem .hdrReplyListButton,
toolbarpaletteitem .hdrFollowupButton,
.hdrReplyListButton, .hdrFollowupButton, .hdrSmartReplyButton,
#button-replyall, #button-replylist, #button-followup
    { list-style-image: url("./images/43-replyall.png") !important; }
#button-reply, toolbarpaletteitem .hdrReplyButton
    { list-style-image: url("./images/44-reply.png") !important; }
#folderTree treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent),
.tabmail-tab[type="folder"][SpecialFolder="Sent"] .tab-icon-image
    { list-style-image: url("./images/45-send.png") !important;
    -moz-image-region: rect(0px 256px 256px 0px) !important; }
#CompactHeader_button-starMessages
    { list-style-image: url("./images/46-star.png") !important; }
#button-stop
    { list-style-image: url("./images/47-stop.png") !important; }
toolbarpaletteitem .hdrTagButton, #button-tag
    { list-style-image: url("./images/48-tag.png") !important; }
.tabmail-tab[type="folder"][SpecialFolder="Trash"] .tab-icon-image,
toolbarpaletteitem .hdrTrashButton, .delete-button, #appmenu_emptyTrash,
#folderTree treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash)
    { list-style-image: url("./images/49-trash.png") !important;
    -moz-image-region: rect(0px 256px 256px 0px) !important; }
.tabmail-tab[type="folder"][ServerType="pop3"]
    { list-style-image: url("./images/50-pop-email.png") !important;
    -moz-image-region: rect(0px 256px 256px 0px) !important; }
#button-contacts
    { list-style-image: url("./images/51-contacts.png") !important; }
#quoteButton
    { list-style-image: url("./images/52-quote.png") !important; }
#appmenu-quit
    { list-style-image: url("./images/quit.png") !important; }

/* doesn't work, but keep it here for the hell of it */
.tabmail-tab[type="Add-ons Manager"] .tab-icon-image
    { list-style-image: url("./images/large/appmenu-addons.png") !important; }



/************************************************************************/
/*     System Icons. All the SVG images*/
/************************************************************************/
#button-send
    { list-style-image: url("images/send.svg") !important; }
#spellingButton
    { list-style-image: url("images/spelling.svg") !important; }
#button-security
    { list-style-image: url("images/security.svg") !important; }
#button-save
    { list-style-image: url("images/save.svg") !important; }
#button-emoji
    { list-style-image: url("images/emoji.svg") !important; }
#button-attach
    { list-style-image: url("images/attach.svg") !important; }

/* Icons in the header of the preview pane */
.hdrJunkButton { list-style-image: url("./images/junk.svg") !important; }
.hdrReplyToSenderButton, .hdrDummyReplyButton,
.hdrReplyButton { list-style-image: url("./images/reply.svg")!important; }
.hdrReplyAllButton { list-style-image: url("./images/replyall.svg")!important; }
.hdrForwardButton { list-style-image: url("./images/forward.svg")!important; }
.hdrArchiveButton { list-style-image: url("./images/archive.svg")!important; }

/* address book icons */
#button-newcard { list-style-image: url("./images/addcontact.svg") !important; }
#button-newlist { list-style-image: url("./images/addlist.svg") !important; }
#button-editcard { list-style-image: url("./images/edit.svg") !important; }
#button-newmessage { list-style-image: url("./images/35-newmsg.png") !important; }
.tabmail-tab[type="message"] .tab-icon-image
    { list-style-image: url("./images/email24.png") !important;
    -moz-image-region: rect(0px 24px 24px 0px) !important; }
.hdrTrashButton, #button-abdelete { list-style-image: url("./images/trash.svg") !important; }

/* enlarge and colorize the column picker icon at the end of thread pane's column headers */
.tree-columnpicker-icon { list-style-image: url("./images/columnpicker.svg") !important;
    fill: red !important;
    width: 24px !important; height: 24px !important; }
.tabmail-tab[type="calendar"] .tab-icon-image {
    list-style-image: url("./images/calendar.svg") !important; }
#calendar-tab-button, #newMsgButton-calendar-menuitem {
    list-style-image: url("./images/calendar.svg") !important; }
#task-tab-button, #newMsgButton-task-menuitem {
    list-style-image: url("./images/task-list.svg") !important; }
#extractEventButton, #task-newevent-button,
#calendar-newevent-button { list-style-image: url("./images/event-list.svg") !important; }

/* these 3 are png individuals and 24x24 so they show up in settings properly
    I can't seem to find the height/width setting to rescale these.  So 24x24 it is.  */
treechildren::-moz-tree-image(folderNameCol, serverType-imap) {
    list-style-image: url("./images/email24.png") !important;
    -moz-image-region: rect(0px 24px 24px 0px) !important; }
treechildren::-moz-tree-image(folderNameCol, serverType-pop3) {
    list-style-image: url("./images/pop-email24.png") !important;
    -moz-image-region: rect(0px 24px 24px 0px) !important; }
treechildren::-moz-tree-image(folderNameCol, serverType-nntp) {
    list-style-image: url("./images/news24.png") !important;
    -moz-image-region: rect(0px 24px 24px 0px) !important; }

#calendar-newtask-button, #extractTaskButton, #task-newtask-button,
#lightning-button-tasks { list-style-image: url("./images/task-list.svg") !important; }
toolbarpaletteitem .hdrJunkButton, toolbarpaletteitem .hdrSJunkButton, .junk-button
    { list-style-image: url("./images/junk.svg") !important; }

/********************************************************************/
/*       Couple of the icons on the calendar tab    */
/********************************************************************/
#calendar-delete-button, #task-delete-button {
    list-style-image: url("./images/trash.svg") !important; }
#calendar-edit-button, #task-edit-button {
    list-style-image: url("./images/edit.svg") !important; }

/* 5 menu items that didn't have icons.   Stole the logic from Firefox menu.   */
#appmenu_File .toolbarbutton-icon {
    list-style-image: url("./images/menu-file.svg") !important;
    width: var(--appmenu-icons) !important;
    height: var(--appmenu-icons) !important;
    background-size: var(--appmenu-icons) !important; }
#appmenu_View .toolbarbutton-icon {
    list-style-image: url("./images/menu-view.svg") !important;
    width: var(--appmenu-icons) !important;
    height: var(--appmenu-icons) !important;
    background-size: var(--appmenu-icons) !important; }
#appmenu_Go .toolbarbutton-icon {
    list-style-image: url("./images/menu-go.svg") !important;
    width: var(--appmenu-icons) !important;
    height: var(--appmenu-icons) !important;
    background-size: var(--appmenu-icons) !important; }
#appmenu_messageMenu .toolbarbutton-icon {
    list-style-image: url("./images/email24.png") !important;
    width: var(--appmenu-icons) !important;
    height: var(--appmenu-icons) !important;
    background-size: var(--appmenu-icons) !important; }
#appmenu_Event_Task .toolbarbutton-icon {
    list-style-image: url("./images/task-list.svg") !important;
    width: var(--appmenu-icons) !important;
    height: var(--appmenu-icons) !important;
    background-size: var(--appmenu-icons) !important; }

/* these accent Linux without the titlebar displayed  */
#titlebar-buttonbox { background-color: black !important; }
#titlebar-min, #titlebar-max { background-color: black !important; }
#titlebar-close { background-color: red !important; }

#titlebar-min { margin-left: 10px !important;
    list-style-image: url("./images/icon-min.png") !important; }
#titlebar-max { margin-left: 10px !important;
    list-style-image: url("./images/icon-max.png") !important; }
#titlebar-close { margin-left: 10px !important;
    list-style-image: url("./images/icon-close.png") !important; }

/* END */
