:root {
/*  With Linux, at least, the default font kicks in for everything especially the header pane,
    then other font sizes seem to multiply the default.  At least in ver 78+.
    Didn't have this issue with Version 68.10.
    So a default of 1.3 might be nice for one field, but 1.3 also in thread-tree will make it huge.
    So you have to use default sparingly.   I set it to 1 and use others. */

  --default-font-size: 1.0em;

  --folder-tree-font: 1.17em;
  --folder-treechildren-row: 32px;
  --folder-tree-margin: -4px;

  --thread-tree-font: 1.4em;
  --thread-treechildren-row: 34px;

  --abResultsTree-font-size: 1.2em;     /* address book */
  --abDisplay-font-size: 1.25em;         /* address book display info at bottom */
  --menu-bar-font-size: 1.0em;
  --mail-toolbar-menubar2-font-size: 1.4em;

  --tabs-toolbar-height: 38px;              /* one more than tab height, and a few above the icons */
  --tabmail-tab-height: 37px;
  --tabmail-icons: 32px;
  --tab-text-font-size: 1.0em;

  --toolbar-font-size: 1.2em;

  --appmenu-icons: 24px;
}
