:root {
  --default-font-size: 1.0em;

  --folder-tree-font: 1.2em;                 /* 1.2 linux   1.0 windows */
  --folder-treechildren-row: 30px;          /* 30 linux   28 windows */
  --folder-tree-margin: -3px;               /* -3 linux    -5 windows   */

  --thread-tree-font: 1.3em;                /* 1.3 linux   1.05 windows */
  --thread-treechildren-row: 30px;          /* 30 linux     29 windows */

  --abResultsTree-font-size: 1.2em;     /* address book */
  --abDisplay-font-size: 1.25em;         /* address book display info at bottom */
  --menu-bar-font-size: 1.0em;
  --mail-toolbar-menubar2-font-size: 1.4em;

  --tabs-toolbar-height: 38px;              /* one more than tab height, and a few above the icons */
  --tabmail-tab-height: 37px;
  --tabmail-icons: 32px;
  --tab-text-font-size: 1.0em;

  --toolbar-font-size: 1.2em;               /* 1.2 linux         1.1 windows */

  --appmenu-icons: 24px;
}
